ANTHROPIC_KEY=sk-ant-api03-VOTRE_CLE_ICI
SUPABASE_URL=https://uatnxooedixhzpvuduii.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhdG54b29lZGl4aHpwdnVkdWlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NjIyMzEsImV4cCI6MjA5NTUzODIzMX0.ZTGON308f2Vd78f3NBRA1jCBv-rJgsK6UNkfEKw-6co
PORT=3000
